<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{editconfiguration}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<form action="#" th:action="@{/configuration/configuration}" th:object="${configuration}" method="post">
					
		<input th:type="hidden" th:name="id" th:field="*{id}"/>
		
			<fieldset class="form">
			
					<legend><text for="editconfiguration" th:text="#{editconfiguration}"></text></legend>
					
					<a th:href="@{/configuration/delete/{id}(id= ${configuration.id})}" th:class="delete"  th:title="#{delete}" th:onclick="'return confirm(\''+#{confirmdelete}+'\');'"><img th:src="@{/images/delete.png}"/></a>
				
					<div class="fieldcontain">
						<label for="itensperpage" th:text="#{itensperpage}"></label>
						<input th:type="text" th:name="itensperpage" th:field="*{itensperpage}" th:autofocus="true" /> 
						<span class="field-validator" th:if="${#fields.hasErrors('itensperpage')}" th:errors="*{itensperpage}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="heightthumbs" th:text="#{heightthumbs}"></label>
						<input th:type="text" th:name="heightthumbs" th:field="*{heightthumbs}"/> 
						<span class="field-validator" th:if="${#fields.hasErrors('heightthumbs')}" th:errors="*{heightthumbs}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="widththumbs" th:text="#{widththumbs}"></label>
						<input th:type="text" th:name="widththumbs" th:field="*{widththumbs}"/> 
						<span class="field-validator" th:if="${#fields.hasErrors('widththumbs')}" th:errors="*{widththumbs}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="heightimg" th:text="#{heightimg}"></label>
						<input th:type="text" th:name="heightimg" th:field="*{heightimg}"/> 
						<span class="field-validator" th:if="${#fields.hasErrors('heightimg')}" th:errors="*{heightimg}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="widthimg" th:text="#{widthimg}"></label>
						<input th:type="text" th:name="widthimg" th:field="*{widthimg}" th:autofocus="true" /> 
						<span class="field-validator" th:if="${#fields.hasErrors('widthimg')}" th:errors="*{widthimg}"></span>
					</div>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{save}"></text></button>
					</div>
					
						
			</fieldset>	
					
		</form>
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>