<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{messages}"></title>
</head>
<body>
	<div layout:fragment="content" ng-controller="messageController" >
	
		<div ng-if="comment" class="message" role="status">
			{{comment}}
		</div><div class="clearer"></div><br/>							
		
		<table ng-init="searchComments()"> 
			<thead>
					<tr>
						<th class="model"><text for="messages" th:text="#{messages}"></text></th>
					</tr>
					
					<tr>
						<th><text for="fromuser" th:text="#{fromuser}"></text></th>
						<th><text for="fromemail" th:text="#{fromemail}"></text></th>
						<th><text for="datemessage" th:text="#{datemessage}"></text></th>
						<th><text for="message" th:text="#{message}"></text></th>
						<th><text for="active" th:text="#{active}"></text></th>
						<th></th>
					</tr>
					
				</thead>
				<tbody>
				
					<tr ng-repeat-start="image in images track by $index">
						<td colspan="6"></td>
					</tr>
					<tr ng-repeat-end="message in image.messages track by $index">
						<td class="centro"><input ng-readonly="true" ng-value="message.fromuser" id="{{message.fromuser}}" type="text"/></td>
						<td class="centro"><input ng-readonly="true" id="{{message.fromemail}}" ng-value="message.fromemail" type="text"/></td>
						<td class="centro"><input ng-readonly="true" id="{{message.datemessage}}" ng-value="message.datemessage" type="text"/></td>
						<td>
							<textarea ng-readonly="true" id="{{message.message}}" ng-value="message.message" rows="4" cols="40"></textarea>
						</td>
						<td class="centro"><input id="{{message.active}}" ng-value="message.active" type="checkbox"/></td>
						<td>
							<a href="#" th:title="#{delete}" ng-click="deleteMessage(message.id, $index)" ng-confirm-click="Confirm Delete?"><img th:src="@{/images/delete.png}"/></a>
						</td>
					</tr>
					
					
					<tr>
						<td colspan="6"><a class="criar" href="#" ng-click="saveComments()"><text for="save" th:text="#{save}"></text></a></td>
					</tr>
											
				</tbody>
		</table>
	
	</div>
	<div layout:fragment="scripts"></div>
	
</body>
</html>