<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles">
<link th:href="@{/libs/datepicker-sandbox/css/bootstrap-datepicker3.standalone.css}" rel="stylesheet" />
</div>
<title th:text="#{createalbum}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<text th:if="${message}">
			<div th:text="${message}" class="message" role="status"></div>
		</text>
			
		<form action="#" th:action="@{/album/album}" th:object="${album}" method="post">
		
			<fieldset class="form">
			
					<legend><text for="createalbum" th:text="#{createalbum}"></text></legend>
					
					<div class="fieldcontain">
						<label for="description" th:text="#{description}"></label>
						<input th:type="text" th:placeholder="#{description}" th:name="description" th:size="20" th:required="true" th:autofocus="true" /> 
					</div>
					
					<div class="fieldcontain">
						<label for="dateini" th:text="#{dateini}"></label>
						<div id="sandbox-container">
							 <div class="input-append date">
							      <input type="text" class="span2" th:name="dateini"/><span class="add-on"><i class="icon-th"></i></span>
							 </div>
						</div>
					</div>
					
					<div class="fieldcontain">
						<label for="datefin" th:text="#{datefin}"></label>
					    <div id="sandbox-container">
							 <div class="input-append date">
							      <input type="text" class="span2" th:name="datefin"/><span class="add-on"><i class="icon-th"></i></span>
							 </div>
						</div> 
					</div>
					 
					<div class="fieldcontain">
							<label for="fullpermited" th:text="#{fullpermited}"></label>
							<input th:type="checkbox" th:field="*{fullpermited}" th:name="fullpermited" th:placeholder="#{fullpermited}"/> 
							<span class="field-validator" th:if="${#fields.hasErrors('fullpermited')}" th:errors="*{fullpermited}"></span>
					</div>
						
					<input th:type="hidden" th:name="active" th:value="true"/>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{save}"></text></button>
					</div>
					
			</fieldset>	
			
		</form>
	
	</div>	
	
	<div layout:fragment="scripts">
		<script th:src="@{/libs/datepicker-sandbox/js/bootstrap-datepicker.js}"></script>
		<script th:src="@{/libs/datepicker-sandbox/locales/bootstrap-datepicker.en-GB.min.js}" charset="UTF-8"></script>
		<script th:src="@{/js/datepicker.js}"></script>
	</div>
	
</body>
</html>